In [10]:
import numpy as np
import FinanceDataReader as web
from datetime import date, timedelta
import matplotlib.pyplot as plt
import datetime

%matplotlib inline
plt.figure(figsize=(15,9))
today = date.today()
startday = date(2018,4,1)
endday = date(2018,6,27)
SEC = web.DataReader("207940", startday, endday)
SEC = SEC[SEC['Volume'] != 0]
SEC['Close'].head()

# 1 씩 shift
SEC['Close'].shift(1).head()
# 수익률 계산
SEC['Rate'] = np.log( SEC['Close'].astype(float) / SEC['Close'].shift(1).astype(float))
SEC.head()

              Open    High     Low   Close  Volume    Change      Rate
Date
2018-04-02  487000  490000  482500  486000   91013 -0.002053       NaN
2018-04-03  484000  489500  480000  485500  127515 -0.001029 -0.001029
2018-04-04  490000  505000  486000  503000  305367  0.036045  0.035411
2018-04-05  501000  505000  496500  502000  193001 -0.001988 -0.001990
2018-04-06  509000  534000  508000  519000  294164  0.033865  0.033304

In [15]:
SEC2 = web.DataReader("207940", startday, endday)

In [32]:
tempList = [np.nan]
for i in range(0, len(SEC2) - 1):
    tempList.append(SEC2["Close"][i])
SEC2["Rate"] = np.log(SEC2["Close"] / tempList)
SEC2

              Open    High     Low   Close   Volume    Change      Rate
Date
2018-04-02  487000  490000  482500  486000    91013 -0.002053       NaN
2018-04-03  484000  489500  480000  485500   127515 -0.001029 -0.001029
2018-04-04  490000  505000  486000  503000   305367  0.036045  0.035411
2018-04-05  501000  505000  496500  502000   193001 -0.001988 -0.001990
2018-04-06  509000  534000  508000  519000   294164  0.033865  0.033304
2018-04-09  528000  580000  524000  562000   543779  0.082852  0.079598
2018-04-10  576000  600000  563000  583000   665027  0.037367  0.036685
2018-04-11  587000  591000  565000  584000   335242  0.001715  0.001714
2018-04-12  577000  586000  565000  565000   273812 -0.032534 -0.033075
2018-04-13  556000  571000  544000  570000   303825  0.008850  0.008811
2018-04-16  564000  576000  561000  567000   140640 -0.005263 -0.005277
2018-04-17  565000  566000  546000  551000   260413 -0.028219 -0.028624
2018-04-18  554000  563000  537000  539000   213450 -0.021779 -0.022019
2018-04-19  534000  535000  505000  507000   476884 -0.059369 -0.061205
2018-04-20  506000  521000  499000  506000   395561 -0.001972 -0.001974
2018-04-23  502000  502000  470500  473000   580297 -0.065217 -0.067441
2018-04-24  476500  489500  473000  474000   335920  0.002114  0.002112
2018-04-25  465000  486500  450000  478500   454583  0.009494  0.009449
2018-04-26  488000  500000  486000  498500   336856  0.041797  0.040947
2018-04-27  506000  508000  494000  506000   222980  0.015045  0.014933
2018-04-30  501000  508000  485000  488000   235446 -0.035573 -0.036221
2018-05-02  410500  445500  391500  404000  2332526 -0.172131 -0.188901
2018-05-03  401500  419500  388000  390000  1235043 -0.034653 -0.035268
2018-05-04  379000  386000  350000  359500  1522558 -0.078205 -0.081433
2018-05-08  357000  384500  353500  370500  1234652  0.030598  0.030139
2018-05-09  370500  407500  369000  398000  1236829  0.074224  0.071599
2018-05-10  404000  410500  380500  389500   590034 -0.021357 -0.021588
2018-05-11  383000  398500  382000  386500   271171 -0.007702 -0.007732
2018-05-14  388500  390000  362500  368500   430529 -0.046572 -0.047691
2018-05-15  371000  394000  367000  388500   426156  0.054274  0.052852
2018-05-16  392500  415000  388000  414000   729170  0.065637  0.063573
2018-05-17  417000  419000  393500  398000   610005 -0.038647 -0.039414
2018-05-18  429500  430000  406000  408500   642658  0.026382  0.026040
2018-05-21  411000  419000  408000  410000   198913  0.003672  0.003665
2018-05-23  407500  413500  395000  399500   213317 -0.025610 -0.025943
2018-05-24  402500  419500  402500  418000   295791  0.046308  0.045268
2018-05-25  418500  436500  418500  430500   406844  0.029904  0.029466
2018-05-28  421000  434500  415500  429000   230843 -0.003484 -0.003490
2018-05-29  428500  442500  428500  433000   200467  0.009324  0.009281
2018-05-30  431000  433000  421500  425500   183062 -0.017321 -0.017473
2018-05-31  426000  444000  425500  435000   339622  0.022327  0.022081
2018-06-01  440000  468500  437000  451500   480497  0.037931  0.037229
2018-06-04  441000  448500  403000  419000   689971 -0.071982 -0.074704
2018-06-05  430000  436500  419500  421000   248976  0.004773  0.004762
2018-06-07  421000  428500  415000  420000   209755 -0.002375 -0.002378
2018-06-08  424500  431000  421000  421000   131269  0.002381  0.002378
2018-06-11  417000  422000  416000  420000    94963 -0.002375 -0.002378
2018-06-12  421000  432000  419500  429500   144313  0.022619  0.022367
2018-06-14  427000  427000  406000  408000   245236 -0.050058 -0.051355
2018-06-15  410500  415500  406000  408000   184289  0.000000  0.000000
2018-06-18  405000  419500  404500  407500   146959 -0.001225 -0.001226
2018-06-19  407500  411500  381000  381000   240421 -0.065031 -0.067242
2018-06-20  390500  429500  390000  420000   400393  0.102362  0.097455
2018-06-21  420000  426000  411000  415000   153582 -0.011905 -0.011976
2018-06-22  419500  445500  415500  437500   345522  0.054217  0.052798
2018-06-25  438000  438500  418000  420500   165310 -0.038857 -0.039632
2018-06-26  410000  419000  400500  416000   217564 -0.010702 -0.010759
2018-06-27  414500  426500  413000  418000   116211  0.004808  0.004796

In [33]:
import urllib.parse
import pandas as pd

In [34]:
MARKET_CODE_DICT = {
    'kospi': 'stockMkt',
    'kosdaq': 'kosdaqMkt',
    'konex': 'konexMkt'
}

DOWNLOAD_URL = 'https://kind.krx.co.kr/corpgeneral/corpList.do'

In [35]:
def zeroFill(columnValue):
    columnValue = str(columnValue)
    outValue = columnValue.zfill(6)
    return outValue

In [36]:
def get_stock_codes(market=None, delisted=False):
    params = {'method': 'download'}

    if market.lower() in MARKET_CODE_DICT:
        ## marketType 키 추가
        params['marketType'] = MARKET_CODE_DICT[market]
        print(market.lower()+" market key is exist")
    else:
        #params['searchType'] = 13
        print("invalid market")

    # make url  key=value & key = value
    params_string = urllib.parse.urlencode(params)
    request_url = DOWNLOAD_URL+"?"+params_string

    df = pd.read_html(request_url, header=0)[0]
    df["종목코드"] = df.종목코드.apply(zeroFill)

    return df

In [37]:
stocks = get_stock_codes('kospi')
stocks.head(2)

kospi market key is exist

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,JS전선,005560,절연선 및 케이블 제조업,"선박선,고무선,전력선,통신선 제조",2007-11-12,12월,이익희,http://www.jscable.co.kr,충청남도
1,거북선2호,101380,NaN,운송장비(선박) 임대,2008-04-25,12월,신주선,NaN,부산광역시