In [1]:
import pandas as pd
import numpy as np

In [138]:
joinData1 = pd.read_csv("./joindata1.csv", encoding = 'utf-8')
joinData1 = pd.read_csv("./joindata2.csv", encoding = 'cp949')

In [139]:
toMergeData = pd.DataFrame({'new_statin': joinData2['suta_tin'].drop_duplicates()})
mergedData = pd.merge(joinData1, toMergeData, how = 'left', left_on = 'suta_tin', right_on = 'new_statin')
mergedData['new_statin'] = np.where(mergedData['suta_tin'] == mergedData['new_statin'], mergedData['mata_tin'], mergedData['suta_tin'])
for i in mergedData.columns[mergedData.dtypes == 'int64']:
    mergedData[i] = mergedData[i].astype('str')

In [140]:
mergedData

,mata_tin,mate_srcs_cntn,rit_end_dt,rit_strt_dt,suta_tin,txpr_rlt_cd,new_statin
0,153101000000,납세자관계,99991231,10101,153403000000,22,153101000000
1,153101000000,납세자관계,99991231,10101,154201000000,22,153101000000
2,153101000000,납세자관계,99991231,10101,154601000000,30,153101000000
3,153101000000,납세자관계,99991231,10101,154702000000,22,153101000000
4,153101000000,납세자관계,99991231,10101,153403000000,32,153101000000
5,153101000000,납세자관계,20161113,20160523,153201000000,30,153101000000
6,153101000000,납세자관계,99991231,10101,153501000000,22,153101000000
7,153101000000,납세자관계,99991231,10101,153101000000,32,153101000000
8,153101000000,납세자관계,99991231,10101,153901000000,32,153101000000
9,153101000000,납세자관계,20180926,20170802,154401000000,30,153101000000